html, body{
  width: 100%;
  height: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.main_container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.coin_container{
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.coin{
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

.player_row{
  display: flex;
}

.cell_row{
  display: flex;
}

.cell_column{
  display: flex;
  flex-direction: column;
}

.cell_column_container{
  display: flex;
}

.board_middle_row{
  display: flex;
  width: 630px;
  justify-content: space-between;
}

.cell{
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.red{
  background: rgb(231, 96, 96);
}

.green{
  background: rgb(112, 236, 112);
}

.yellow{
  background: rgb(230, 230, 91);
}

.blue{
  background: rgb(84, 84, 235);
}