<!DOCTYPE html>
<html>
  <head>
    <title>Create Game</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./style/welcome.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <header>
      Create Game
    </header>
    <section>
      <form action="/createGame" method="post">
        <input type="text" placeholder="hostname" />
        <input type="number" placeholder="number of players" />
        <button>Create Game</button>
      </form>
    </section>
  </body>
</html>
